<div class="themes">
    <button class="theme-bubble active" data-theme="all">Tous</button>
    {% for theme in themes %}
        <button class="theme-bubble" data-theme="{{ theme.id }}">
            {{ theme.nom }}
        </button>
    {% endfor %}
</div>